@model Assignment_1_API.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @* <form asp-action="Edit"> *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" type="date" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">StaffName:</label>
                @* <select asp-for="StaffId" class="form-control" asp-items="ViewBag.StaffId"></select> *@
                <input name="StaffName" value="@ViewData["StaffName"]" readonly />
                <input type="hidden" asp-for="StaffId" value="@ViewData["StaffId"]" />
                @* <span asp-validation-for="StaffId" class="text-danger"></span> *@
            </div>
            <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" onclick="EditOrder()" />
            </div>
        @* </form> *@
    </div>
</div>

<div>
    @* <a asp-action="Index" asp-route-StaffId="@ViewData["StaffId"]">Back to List</a> *@
    <a asp-action="Index" >Back to List</a>
</div>

<script>
    function EditOrder() {
        let obj = {
            OrderId: document.getElementById("OrderId").value,
            OrderDate: document.getElementById("OrderDate").value,
            StaffId: document.getElementById("StaffId").value
        }

        fetch(`https://localhost:7271/api/Orders/${obj.OrderId}`,
            {
                method: "put",
                headers: {
                    "content-type": "application/json"
                },
                body: JSON.stringify(obj)
            })
            .then(res => location.href = "/Orders")
            .catch(err => alert(err));
    }
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
